ul { 

    list-style: none;
}

ul li {

    background-color: rgb(61, 57, 57);
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    /* border-left: 5px solid rgb(39, 206, 184); */
}

ul li span {

    color: rgb(39, 206, 184);
    cursor: pointer;
    font-size: 15px;
}