.container{

    width: 35vw;
    min-height: 50vh;
    border: 2px solid rgb(39, 206, 184);
    border-radius: 5px;
    padding: 10px 15px;


}



@media (max-width: 890px) {

    .container {

        width: 60vw;
    }
}

@media (max-width: 430px) {

    .container {

        width: 90vw;
        height: 90vh;
    }
}

